@font-face {
    font-family: "Super Plumber Brothers";
    src: url("Fonts/Super Plumber Brothers.ttf") format("truetype");
    letter-spacing: 10em;
}

/* @font-face {
    font-family: "Press Start 2P";
    src: url("Fonts/PressStart2P.ttf") format("truetype");
} */